<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>RequestDispatcher</h1>
	<h2>당신의 개인취향을 테스트합니다.</h2>
	<p>데이터 입력 후 확인 버튼을 누르세요ㅕ!</p>
	<form action="../dispatcherTest.do" method="post">
		<ul>
		<li>이름<input type="text" name="name"></li>
		<li>나이<input type="number" name="age"></li>
		<li>이름<input type="text" name="height"></li>
		<li>종아하는 색
			<label><input type="radio" name="color" value="conflowerblue">시퍼런옥수수꽃색</label>
			<label><input type="radio" name="color" value="royalblue">로얄블루</label>
			<label><input type="radio" name="color" value="gold">골드</label>
			<label><input type="radio" name="color" value="deeppink">딮핑크</label>
			<label><input type="radio" name="color" value="green">그린</label>
			</li>
			<li>좋아하는 음식
				<label><input type="checkbox" name="food" value="시리얼">시리얼</label>
				<label><input type="checkbox" name="food" value="가브리살">가브리살</label>
				<label><input type="checkbox" name="food" value="갈비">갈비</label>
				<label><input type="checkbox" name="food" value="토다이">토다이</label>
				<label><input type="checkbox" name="food" value="계란초밥">계란초밥</label>
			</li>
			<li>좋아하는 동물
				<select name="animal">
					<option value="카피바라">카피바라
					<option value="호랑이">호랑이
					<option value="웰시코기">윌시코기
					<option value="시고르자브종">시고르자브종
					<option value="칡">칡
				</select>
				<br>
				<input type="submit" value="획인">
				<input type="reset" value="취소">
			</li>
		
		</ul>
	</form>
</body>
</html>