<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>01_basicServlet</display-name>
  
  <!-- 
  	서블릿을 등록하기
  	서블릿을 등록하는 방법은
  	<servlet>태그를 이용한다
  	<servlet>태그의 자식태그는 <servlet-name>,<servlet-class> 두개의 태그가 있음
  		1.<servlet-name> web.xml내부에서 사용하는 변수명으로 보면됨
  		2.<servlet-class> 내가 등록할 서블릿의 클래스명 -> 패키지명까지 다 작성
   -->
   <servlet>
   	<servlet-name>first</servlet-name>
   	<servlet-class>com.basicservlet.controller.FirstServlet</servlet-class>
   </servlet>
   
   <!-- 
   	서블릿에 주소를 연결하기
   	<servlet-mapping>태그를 이용해서 등록된 서블릿에 주소를 매핑
   		<servlet-mapping>태그의 자식태그는 <servlet-name>,<url-pattern>태그가 있음
   			<servlet-name> : 등록된 서블릿 이름작성
   			<url-pattern> : 서블릿을 실행할 url주소값
    -->
    <servlet-mapping>
    	<servlet-name>first</servlet-name>
    	<url-pattern>/test</url-pattern>
    </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>